src/main/xsd/EventSearch.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="EventsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Status">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Version" type="xsd:decimal" />
              <xsd:element name="TimeStampUtc" type="xsd:dateTime" />
              <xsd:element name="Code" type="xsd:int" />
              <xsd:element name="Message" type="xsd:string" />
              <xsd:element name="Details" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Paging">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PageNumber" type="xsd:int" />
              <xsd:element name="PageSize" type="xsd:int" />
              <xsd:element name="PageResultCount" type="xsd:int" />
              <xsd:element name="TotalResultCount" type="xsd:int" />
              <xsd:element name="TotalPageCount" type="xsd:int" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Events">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Event">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Id" type="xsd:int" />
                    <xsd:element name="Date" type="xsd:dateTime" />
                    <xsd:element name="EventGroupName" type="xsd:string" />
                    <xsd:element name="VenueName" type="xsd:string" />
                    <xsd:element name="Town" type="xsd:string" />
                    <xsd:element name="Country" type="xsd:string" />
                    <xsd:element name="TicketCount" type="xsd:int" />
                    <xsd:element name="Currency" type="xsd:string" />
                    <xsd:element name="MinPrice" type="xsd:decimal" />
                    <xsd:element name="SwURL" type="xsd:string" />
                    <xsd:element name="EventGroupImageURL" type="xsd:string" />
                    <xsd:element name="LayoutId" type="xsd:int" />
                    <xsd:element name="EventGroupId" type="xsd:int" />
                    <xsd:element name="VenueId" type="xsd:int" />
                    <xsd:element name="SwSellURL" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>